trigger:
- no_main

pool:
  vmImage: ubuntu-latest

variables:
  - name: CORE_DIR
    value: $(Build.SourcesDirectory)/../download_core
  - name: CUSTOMER_APP_BASE_DIR
    value: $(Build.SourcesDirectory)
  - name: SMALLWORLD_REGISTRY
    value: $(Build.SourcesDirectory)/smallworld_registry
  - name: SW_MSF_STARTUP_MAGIK
    value: $(Build.SourcesDirectory)/scripts/compile_and_build.magik
  - name: AZ_SW_PRODUCT_TO_BUILD
    value: customer_app

steps:
#  - checkout: 
  - task: JavaToolInstaller@1
    inputs:
      versionSpec: '17' # string. Required. JDK version. Default: 8.
      jdkArchitectureOption: 'x64' #| 'x86' | 'arm64'. Required. JDK architecture. 
      jdkSourceOption: 'PreInstalled' # 'AzureStorage' | 'LocalDirectory' | 'PreInstalled'

  # # download into 
  # - task: UniversalPackages@0
  #   displayName: Download
  #   inputs:
  #     command: download
  #     vstsFeed: 'SW/froggie'                        ## The Artifacts feed hosting the package to be downloaded
  #     vstsFeedPackage: 'cst.jar'                             ## Name of the package to be downloaded
  #     vstsPackageVersion: '5.3.0'                       ## Version of the package to be downloaded
  #     downloadDirectory: '$(CORE_DIR)'     ## The download folder. Default value: $(System.DefaultWorkingDirectory).

  # - script: |
  #     sudo java -Daccept_licences="YES" -Dinstall_language_packs="YES" -jar $(CORE_DIR)/core_installer.jar $(CORE_DIR) vsts vsts
  #   displayName: 'Install the core products'

  - script: |
      sed -i 's:\\:/:g' $SMALLWORLD_REGISTRY/LAYERED_PRODUCTS
    displayName: 'replace the backslash with a forward slash to avoid confusion in ubuntu'

  - script: |
      echo $(Build.SourcesDirectory)
      ls $(Build.SourcesDirectory)
      echo 'list environment'
      env
      echo 'cat layered products'
      cat $SMALLWORLD_REGISTRY/LAYERED_PRODUCTS
      echo 'list customer app'
      ls $CUSTOMER_APP_BASE_DIR/customer_app
    displayName: 'List all content'

  # - script: |
  #     $(CORE_DIR)/core/bin/share/runalias -j -Djava.awt.headless=true base
  #   displayName: 'start compile and build'
  
  - script: |
      echo $CUSTOMER_APP_BASE_DIR/$AZ_SW_PRODUCT_TO_BUILD
      echo $(Build.ArtifactStagingDirectory)/$AZ_SW_PRODUCT_TO_BUILD.zip

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: $(CUSTOMER_APP_BASE_DIR)/$(AZ_SW_PRODUCT_TO_BUILD)
      archiveType: 'zip'
      archiveFile: $(Build.ArtifactStagingDirectory)/$(AZ_SW_PRODUCT_TO_BUILD).zip

  - script: |
      echo $CUSTOMER_APP_BASE_DIR/$SMALLWORLD_REGISTRY
      echo $(Build.ArtifactStagingDirectory)/smallworld_registry.zip

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: $CUSTOMER_APP_BASE_DIR/$(SMALLWORLD_REGISTRY)
      archiveType: 'zip'
      archiveFile: $(Build.ArtifactStagingDirectory)/smallworld_registry.zip

  - script: |
      echo $(Build.SourcesDirectory)
      ls $(Build.SourcesDirectory)
      echo 'list environment'
      env
      echo 'cat layered products'
      cat $SMALLWORLD_REGISTRY/LAYERED_PRODUCTS
      echo 'list customer app'
      ls $CUSTOMER_APP_BASE_DIR/customer_app
    displayName: 'List all content 2'

    # upload customer app
  - task: UniversalPackages@0
    displayName: Upload customer app
    inputs:
      command: publish
      vstsFeedPublish: 'SW/froggie'                        ## The Artifacts feed hosting the package to be downloaded
      vstsFeedPackagePublish: '$AZ_SW_PRODUCT_TO_BUILD.zip'                             ## Name of the package to be downloaded
      versionOption: custom
      vstsPackageVersion: '5.3.0'                       ## Version of the package to be downloaded
      publishDirectory: '$(Build.ArtifactStagingDirectory)/$AZ_SW_PRODUCT_TO_BUILD.zip'

      # upload smallworld registry 
  - task: UniversalPackages@0
    displayName: Upload layered products
    inputs:
      command: publish
      vstsFeedPublish: 'SW/froggie'                        ## The Artifacts feed hosting the package to be downloaded
      vstsFeedPackagePublish: 'smallworld_registry.zip'                             ## Name of the package to be downloaded
      versionOption: custom
      vstsPackageVersion: '5.3.0'                       ## Version of the package to be downloaded
      publishDirectory: '$(Build.ArtifactStagingDirectory)/smallworld_registry.zip'
